body, body * {
    margin: 0;
    padding: 0;
  background-color: #100020 !important;
    color: #ffffff !important;
}

.fit-window {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 10%;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
}

.dropdown-item {
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.iframe-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

iframe {
    flex: 1;
    border-radius: 5px;
}
