body, body * {
    margin: 0;
    padding: 0;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.fit-window {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 10%;
}

.dropdown-item {
    border: 1px solid #ffffff;
}

.iframe-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

iframe {
    flex: 1;
    width: 100%;
}

/* Make pretty and remove content from Articles */
/* Fix hamburger icon and spacing between navbar and iframe (looks a lot better, though) */